@import url(./vendor/normalize.css);

/* Шрифты */
@import url(./fonts/inter.css);

/*root*/
@import url(./blocks/root/root.css);

/*Блок header*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__button-container/header__button-container.css);
@import url(./blocks/header/__link-exit/header__link-exit.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__user-email/header__user-email.css);

/*Блок profile*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__content/profile__content.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__item/profile__item.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);

/*Блок login*/
@import url(./blocks/login/__container/login__container.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__link/login__link.css);
@import url(./blocks/login/__signup/login__signup.css);
@import url(./blocks/login/__submit/login__submit.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/signup/__ask/sign__ask.css);
@import url(./blocks/signup/__link/signup__link.css);

/*Блок elements*/
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__element/elements__element.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__element-title/elements__element-title.css);
@import url(./blocks/elements/__text/elements__text.css);
@import url(./blocks/elements/__like-container/elements__like-container.css);
@import url(./blocks/elements/__like/elements__like.css);
@import url(./blocks/elements/__like-counter/elements__like-counter.css);
@import url(./blocks/elements/__like/_active/elements__like_active.css);
@import url(./blocks/elements/__delete/elements__delete.css);

/*Блок footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

/*Всплывающее окно*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__button-submit/popup__button-submit.css);
@import url(./blocks/popup/__button-submit/_disabled/popup__button-submit_disabled.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__image-form/popup__image-form.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__subtitle-image/popup__subtitle-image.css);
@import url(./blocks/popup/_open-image/popup_open-image.css);
@import url(./blocks/popup/__container-register/popup__container-register.css);
@import url(./blocks/popup/__notice-img/popup__notice-img.css);
@import url(./blocks/popup/__notice-text/popup__notice-text.css);

/* Валидация */
@import url(./blocks/error/error.css);